*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  background: #EDF2F8;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.7;
  font-size: 13px;
}

.testimonials {
  max-width: 1440px;
  margin: 100px auto;
  padding: 20px;

}

.card {
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(17,12,46,.15) 0px 48px 100px 0px;
  margin-bottom: 10px;
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__header h3 {
  font-size: 15px;
}

.card__header p {
  opacity: 15%;
}

.card__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #996ED9;
  margin-right: 10px;
}

.card__lead {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}

.card__quote {
  font-size: 15px;
  line-height: 1.4;
  opacity: 70%;
}

.card--bg-purple {
  background: hsl(263, 55%, 52%);
  color: #fff;
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

.card--bg-gray-blue {
  background: hsl(217, 19%, 35%);
  color: #fff;

}

.card--bg-black-blue {
  background: hsl(219, 29%, 14%);
  color: #fff;
}

footer {
  text-align: center;
}