*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

:root {
  --page-bg: #EDF2F8;
  --std-font-sz: 13px;
  --main-width: 1440px;
  --main-gap: 30px;
  --card-bg: white;
  --card-br: 10px;
  --card-padding: 30px;
  --card-margin: 10px;
  --card-img-size: 40px;
  --card-special-color: #fff;
}

body {
  background: var(--page-bg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.7;
  font-size: var(--std-font-sz);
}

.testimonials {
  max-width: var(--main-width);
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--main-gap);

}

.card {
  background: var(--card-bg);
  border-radius: var(--card-br);
  padding: var(--card-padding);
  box-shadow: rgba(17,12,46,.15) 0px 48px 100px 0px;
  margin-bottom: var(--card-margin);
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--card-margin);
}

.card__header h3 {
  font-size: calc(var(--std-font-sz) * 1.15);
}

.card__header p {
  opacity: 70%;
}

.card__img {
  width: var(--card-img-size);
  height: var(--card-img-size);
  border-radius: 50%;
  border: 2px solid #996ED9;
  margin-right: var(--card-margin);
}

.card__lead {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: calc(var(--card-margin) * 2);
}

.card__quote {
  font-size: calc(var(--std-font-sz) * 1.15);
  line-height: 1.4;
  opacity: 70%;
}

.card--bg-purple {
  background: hsl(263, 55%, 52%);
  color: var(--card-special-color);
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

.card--bg-gray-blue {
  background: hsl(217, 19%, 35%);
  color: var(--card-special-color);

}

.card--bg-black-blue {
  background: hsl(219, 29%, 14%);
  color: var(--card-special-color);
}

.card:nth-of-type(1) {
  grid-column: 1 / 3
}

.card:nth-of-type(3) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.card:nth-of-type(4) {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

footer {
  text-align: center;
}

@media(max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card:nth-of-type(1) {
    grid-column: 1;
  }
  
  .card:nth-of-type(3) {
    grid-column: 1;
    grid-row: 5;
  }
  
  .card:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
  }
}